@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --md-dark-color: #1d1d1d;
  --dark-color: #171717;
  --light-dark-color: #292929;
  --yellow-color: #d4aa11;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--dark-color);
  color: #fff;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--light-dark-color);
  padding-top: 20px;
  padding-bottom: 20px;
}
.user-inp {
  display: flex;
  align-items: center;
}
.user-inp p {
  font-weight: bold;
  margin-right: 20px;
}
.yello {
  color: #fdfd45;
}
.fa-solid {
  color: rgb(27, 27, 27);
}
.movie-name {
  border: 2px solid #fdfd45;
  border-right: none;
  padding: 10px;
  height: 40px;
  background-color: var(--light-dark-color);
  outline: none;
  color: white;
  border-radius: 2px 0 0 2px;
}
.movie-name :focus {
  color: #fff;
  box-shadow: 0 0 5px #cccc3e;
}
.submit-search {
  height: 40px;
  border: 2px solid #fdfd45;
  border-left: none;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fdfd45;
  color: rgb(20, 20, 20);
  border-radius: 0 2px 2px 0;
}
.content {
  display: flex;
  width: 100%;
}
.con1 {
  padding: 10px;
  width: 70%;
  padding: 30px;
  margin-left: 30px;
}
.img {
  width: 100%;
  height: 350px;
  border: 5px solid white;
}

.m-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fdfd45;
  font-family: Arial, Helvetica, sans-serif;
}
.m-his p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.side {
  font-size: 19px;
  color: rgb(255, 255, 255);
}
.language {
  font-size: 19px;
  color: #fdfd45;
}
.languages {
  font-size: 15px;
  color: #cccc3e;
}
.res {
  font-size: 15px;
  color: rgb(234, 237, 240);
}
.con2 {
  margin-top: 20px;
  width: 26%;
  justify-content: center;
  padding: 20px;
}

.sugesion {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  position: relative;
  text-decoration: none;
  color: white;
  background-color: rgb(46, 44, 44);
  margin: 10px;
  border-radius: 5px;
  background: linear-gradient(0deg, #000, #3f3d3d);
}
.sugesion:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000
  );
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);

  z-index: -1;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sug-his {
  margin-left: 20px;
}
.sug-his p {
  margin-left: 20px;
  margin-top: 10px;
}
.tittle {
  margin-left: 13px;
  font-family: Arial, Helvetica, sans-serif;
}
.rating {
  background-color: #d4aa11;
  padding: 5px;
  border-radius: 6px;
  color: #fff;
}
.tittle {
  text-decoration: none;
}
.year-movie {
  text-decoration: none;
}
.movies-links {
  text-decoration: none;
}
.user-fun {
  margin-bottom: 20px;
}
.spiner {
  justify-content: center;
  text-align: center;
}
.spiner-img {
  height: 50px;
  width: 50px;
  animation: rotate 2s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-input-placeholder {
  color: white;
}
:focus::-webkit-input-placeholder {
  opacity: 0.6;
}

@media only screen and (max-width: 550px) {
  .nav {
    padding-left: 30px;
    position: relative;
    display: block;
  }
  .user-inp {
    position: absolute;
    top: 15vh;
    right: 50%;
    left: 50%;
    text-align: center;
    justify-content: center;
    margin: auto 0;
  }
  .content {
    margin-top: 70px;
    flex-wrap: wrap;
  }
  .user-inp p {
    display: none;
  }
  ::-webkit-input-placeholder {
    color: white;
  }
  :focus::-webkit-input-placeholder {
    opacity: 0.6;
  }

  .con1 {
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .m-title {
    font-size: 23px;
  }
  .con2 {
    justify-content: center;
    margin-right: 20px;
    width: 100%;
  }
  .sugesion {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
    background-color: var(--light-dark-color);
  }
  .sug-his p {
    margin-left: 20px;
    margin-top: 10px;
    text-decoration: none;
  }
  .spiner-img {
    height: 50px;
    width: 50px;
    animation: rotate 2s infinite linear;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
